.home-banner {
  background-image: url('<%= asset_path 'banner.jpg' %>');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* 100% de la altura de la ventana */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white; /* o el color que quieras para el texto */
}
