<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5>Recipe App</h5>
        <p>An app for all your favorite recipes.</p>
      </div>
      <div class="col-12 col-md-6">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Twitter</a></li>
          <li><a href="#" class="text-white">Facebook</a></li>
          <li><a href="#" class="text-white">Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr class="bg-white">
    <div class="row">
      <div class="col text-center">
        <p>Application created by: Marco Díaz & Wilhelm Kamulunga</p>
      </div>
    </div>
  </div>
</footer>
